.jumbotron {
   padding-top: 2%;
   padding-bottom: 2%;
   background-color: lightsalmon;
   font-family:'Comic Neue', cursive;
}



.panel-heading {
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Comic Neue', cursive;
    ;
}



